* {
	margin: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Cabin', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	text-decoration: none;
}
a:visited {
	color: inherit;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
:root {
	--islands-light: #d71e44;
	--islands-dark: #9e1b34;
	--islay-light: #a5238e;
	--islay-dark: #6e2671;
	--highlands-light: #563494;
	--highlands-dark: #322773;
	--lowlands-light: #0663ae;
	--lowlands-dark: #174272;
	--speyside-light: #1ab467;
	--speyside-dark: #007b46;
	--campbeltown-light: #f3b41b;
	--campbeltown-dark: #d29d2a;
	--spacing-large: 72px;
	--spacing-regular: 36px;
	--spacing-small: 14px;
	--font-size-xl: 66px;
	--font-size-lg: 36px;
	--font-size-md: 18px;
	--font-size-sm: 14px;
	--border-radius: 5px;
	--default-bg-gradient-vertical: linear-gradient(
		90deg,
		#000000 0%,
		#696969bf 50%,
		#000000 100%
	);
	--default-bg-gradient-angled: linear-gradient(
		45deg,
		#000000 0%,
		#69696977 50%,
		#000000 100%
	);
}
@keyframes glow {
	0% {
		text-shadow: 0 0 10px #ffffff;
	}
	34% {
		text-shadow: 0 0 4px #ffffff;
	}
	40% {
		text-shadow: 0 0 8px #ffffff;
	}
	48%,
	100% {
		text-shadow: 0 0 10px #ffffff;
	}
}
/* animation used with style {animation: glow 3s infinite;} */

@keyframes gloss {
	0% {
		background-position: 0% 50%;
	}
	40% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}
/* animation used with style {background: var(--default-bg-gradient-angled);
	animation: gloss 1.5s ease-in-out;
	background-size: 300% 250%;} */
